# TP4_depart
## IFT870/BIN710 Hiver 2021

### Mathieu Lussier (LUSM1202)
### Gabriel Gibeau Sanchez (GIBG2501)

In [1]:
import sklearn
import numpy as np
import scipy as sp
import pandas as pd
%matplotlib notebook
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
TP4_data_file = "RNA.csv"
TP4_data = pd.read_csv(TP4_data_file,index_col=0)
TP4_data.shape

(395, 2)

In [3]:
TP4_data[0:10]

,sequence,classe
id,,
AF093014.1/662-809,CACUUUAAGUAAUGGAUGUCUUGGUUCUCAUAACGAUGAAGGACGC...,RF00002
M14649.1/2015-2169,AACUUUCAGCGACGGAUGUCUCGGCUCGAACAACGAUGAAGGGCGC...,RF00002
X53361.2/1206-1368,ACCUGUUGUGGUGGAUGUCUUGGCCCAGGUUCUGAGGAAGGACACA...,RF00002
M86760.1/218-371,AACUUUCAGCAAUGGAUCUCUUGGUUCCCGCGUCGAUGAAGAACGU...,RF00002
X00601.1/3997-4154,AAGCAUAAACGGUGAAUACCUCGACUCCUAAAUCGAUGAAGACCGU...,RF00002
U48228.1/7-166,CAAUCUUAACGAUGGAUGUCUUGGUUCCUAUAGCGAUGAAGGCCGC...,RF00002
U58510.1/2022-2198,AACCCUAGUGAUGGAUGUCUAGGCUCCCGUAUCGAUGAAGAACGUA...,RF00002
AL049755.2/30863-31016,AACUUUCAGCAACGGAUCUCUUGGCUCUCGCAUCGAUGAAGAACGC...,RF00002
U13369.1/6624-6776,GACUCUUAGCGGUGGAUCACUCGGCUCGUGCGUCGAUGAAGAACGC...,RF00002
V01159.1/185-331,ACCGUUGGGCGAUGGAUUGCUUGGUGCCUGCUUCGACGAAGAGCGC...,RF00002